@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

body {
  background-color: #111111;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

#bar {
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}

nav {
  background-color: #222222;
  font-size: 30px;
  padding-left: 5rem;
  padding-top: 3px;
  width: 100%;
}

a {
  color: white;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

i {
  color: yellow;
  padding-right: 10px;
}

.sample-metadata,
#sample-metadata {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.sample-metadata,
#sample-metadata,
.panel-heading {
  margin: -1px;
}

div .well {
  border: 0px;
  border-radius: 0px;
  margin-bottom: 5rem;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding-top: 10rem;
  margin-top: auto;
  color: maroon;
  font-size: 15px;
  font-weight: 600;
}
