@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

/* BODY STYLING */

body {
  background-color: #111111 !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CONTAINER STYLING */

.container {
  width: 100%;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
}


/* NAVBAR STYLING */

nav {
  background-color: #222222;
  font-size: 30px;
  padding-left: 5rem;
  padding-top: 3px;
  width: 100%;
}

/* NAVBAR HEADER ICON STYLING */

i {
  color: yellow;
  padding-right: 10px;
}

/* NAVBAR HEADER TEXT STYLING */

a {
  color: white;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

/* DROPDOWN STYLING */

#selDataset {
  color: black;
}
div .well {
  border: 0px;
  border-radius: 0px;
  margin-bottom: 5rem;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  padding: 20px;
}

/* SIMILAR GRAPH STYLING */

#pie,
#line {
  margin-top: 40px;
}

/* FOOTER STYLING */

footer {
  text-align: center;
i {
  color: yellow;
  padding-right: 10px;
}

.sample-metadata,
#sample-metadata {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: -1px;
}

div .well {
  border: 0px;
  border-radius: 0px;
  margin-bottom: 5rem;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding-top: 10rem;
  margin-top: auto;
  color: maroon;
  font-size: 15px;
  font-weight: 600;
}
