<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
    <title>Video Game Dashboard</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a class="navbar-head" href="index.html">DASHBOARD</a>
        </nav>
    </div>
        <div class="container">
            <table class="table table-condensed">
                <colgroup>
                    <col class="sm">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                    <col class="md">
                </colgroup>
                <thead class="thead">
                    <tr>
                      <th>Rank</th>
                      <th>Name</th>
                      <th>Platform</th>
                      <th>Year</th>
                      <th>Genre</th>
                      <th>Publisher</th>
                      <th>NA Sales</th>
                      <th>EU Sales</th>
                      <th>JP Sales</th>
                      <th>Other Sales</th>
                      <th>Global Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                            <td>{{ row[8] }}</td>
                            <td>{{ row[9] }}</td>
                            <td>{{ row[10] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <P>test</P>
        </div>
    <script src={{url_for('static', filename='js/script.js')}}></script>
</body>
</html>